# Our SConstruct script looks for a file named 'scons.config'.
# Copy and rename this file to that, and then change the settings 
# to match the machine you are compiling on. Only this example
# file should be pushed to the GitHub repo.

[my-config]
compiler = msvc
boostPath = "C:/Users/jose0/Desktop/boost/boost_1_75_0"
