# Our SConstruct script looks for a file named 'scons.config'.
# Copy and rename this file to that, and then change the settings 
# to match the machine you are compiling on. Only this example
# file should be pushed to the GitHub repo.

[my-config]
### For windows ###
compiler = msvc
boostIncludePath = "C:/Users/jose0/boost/boost_1_75_0"
boostLibPath =     "C:/Users/jose0/boost/boost_1_75_0/stage/lib"

### For Unix (including WSL) ###
# compiler = gcc
# boostIncludePath = "/mnt/c/Users/jose0/boost/wsl_boost_1_76_0_compiled/include"
# boostLibPath =     "/mnt/c/Users/jose0/boost/wsl_boost_1_76_0_compiled/lib"